{% extends 'blog/base.html' %}

{% block title %}DIY electric bike{% endblock %}

{% block content %}
  <h1 class="title">Реєстрація</h1> 

  <form method="post">
    {% csrf_token %}
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button class="button button1" name="submit">Реєстрація</button>
    <input type="hidden" name="next" value="{% url 'blog:home' %}" />
  </form>
       
{% endblock content %}
